<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Rewards Redemption</h1>
		</div>
		<div class="col-md-6">
			<h1 class="points">Points available: <span class="count"><%= current_user.points %></span>GP</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h5>Select your redemption from the options below.</h5>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 text-center">
			<div class="choices aeon">
			</div>
			<div class="redeem_button">
				<button type="button" class="btn btn-success" data-item="AEON Voucher">Redeem</button>
			</div>
		</div>

		<div class="col-md-3 text-center">
			<div class="choices isetan">
			</div>
			<div class="redeem_button">
			<button type="button" class="btn btn-success" data-item="ISETAN Voucher">Redeem</button>
		</div>
		</div>

		<div class="col-md-3 text-center">
			<div class="choices parkson">
			</div>
			<div class="redeem_button">
			<button type="button" class="btn btn-success" data-item="Parkson Voucher">Redeem</button>
		</div>
		</div>

		<div class="col-md-3 text-center">
			<div class="choices cash">
			</div>
				<div class="redeem_button">
				<button type="button" class="btn btn-success" data-item="Cash">Redeem</button>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="redemptionModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <%= form_for :reward do |f| %>
	      <%= f.hidden_field :choice %>
	      <div class="modal-footer">
	      	<%= f.submit "Confirm", class: "btn btn-default" %>
	      	<% end %>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>

</div>

<script>
	$(document).ready(function(){
		$("button[data-item]").click(function(){
			var item = $(this).data("item");
			$("#redemptionModal .modal-title")
				.text("Redeem RM 10 " + item);
			$("#redemptionModal .modal-body")
				.text("Each " + item + " will cost you 100GP");
			$("#reward_choice").val(item);
			$("#redemptionModal").modal("show");
		})
	})
</script>