<div class="container">

	<div class="row">
		<div class="col-md-6">
			<h1><%= @user.full_name %></h1>
		</div>
		<div class="col-md-6">
			<h1>You currently have: 1000 Points</h1>
		</div>
	</div>

	<div class="user-panel">
		<%= link_to "Edit Account Information", edit_user_registration_path %>
	</div>

	<br>

	<div class="row">
		<div class="col-md-4 option">
			<div class="big-button">
				<h2>Schedule a Pickup</h2>	
			</div>
		</div>
		<div class="col-md-4 option">
			<div class="big-button">
				<h2>View Achievements</h2>
			</div>
		</div>
		<div class="col-md-4 option">
			<div class="big-button">
				<h2>Claim your rewards</h2>
			</div>
		</div>
	</div>

</div>