.footer{
  margin-top: 20px;
  height: 200px;
  color: white;
  background-color: #333333;
  .font-50-px{
    text-align: center;
    font-size: 50px;
  }
  .font-10-px{
    font-size: 10px;
  }
  .centered{
    text-align: center;
  }
  .light-blue{
    color: rgb(48, 227, 238);
  }
  .red{
    color: rgb(255, 0, 0)
  }

}
.wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -100px;
}
