// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select {
	height: 200px;
	border: 1px solid gray;
	background: white;

	p {
		margin-top: 100px;
		text-align: center;
	}
}

label > input {
	visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */

 	&:checked + div {
			border: 3px solid green;	
	}
}
