// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select {
	height: 200px;
	border: 1px solid gray;
	background: white;

	p {
		margin-top: 160px;
		text-align: center;
		font-size: 20px;
		color: white;
	}
}

.box_full {
	background: url(asset-path('box_full.jpg'))center center no-repeat;

}

.bin_full {
	background: url(asset-path('bin_full.jpg'))center center no-repeat;
	max-width: 100%;
  max-height: 100%;
}

.truck_full {
	background: url(asset-path('truck_full.jpg'))center center no-repeat;
}

label > input {
	visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */

 	&:checked + div {
			border: 3px solid green;	
	}
}
