// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font1: Futura, 'Trebuchet MS', Arial, sans-serif;
$font2: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body	{
	background: #E2EAED;
}

.navbar-style	{
	background: #172021;
	border: none;

	.navbar-brand {
		color: white;
    font-size: 24px;
	}

	.navbar-nav	li a {
		color: white;
		font-size: 18px;
	}
}

.option	{
	padding: 5px;
	text-align: center;


	.big-button {
		background-color: white;
		border: 1px solid gray;
		height: 300px;

		h2	{
		margin-top: 125px;
		}
	}
}