// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font1: 'Montserrat', sans-serif;
$font2: 'Raleway', sans-serif;

body	{
	background: #E2EAED;
}

.text-center{
	text-align: center;
}

.modal-dialog{
	.btn-social{
		text-align: center;
		padding-left: 16px;
		.btn-lg{
			padding-left: none;
		}
	}
}

a:hover, a:focus{
	text-decoration: none;
}

.navbar-style	{
	background: #172021;
	border: none;

	.navbar-brand {
		color: white;
    font-size: 24px;
	}

	.navbar-nav	li a {
		color: white;
		font-size: 18px;
	}
}
.text-center{
	text-align: center;
}

.modal-dialog{
	.btn-social{
		text-align: center;
		padding-left: 16px;
		.btn-lg{
			padding-left: none;
		}
	}
}

a:hover, a:focus{
	text-decoration: none;
}
.points	{
	text-align: right;
}

.option	{
	padding: 5px;
	text-align: center;


	.big-button {
		background-color: gray;
		border: 2px solid white;
		height: 300px;
		color: white;

		&:hover {
			color: #90EDD5;
		}

		h2	{
		margin-top: 125px;
		}
	}
}

.schedule-button {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(asset-path('schedule-button.jpg')) center center no-repeat;		
}

.achievements-button {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(asset-path('achievements-button.png')) center center no-repeat;		
}

.rewards-button {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(asset-path('rewards-button.jpg')) center center no-repeat;		
}

.stats {

	padding: 5px;

	.stats-padding {
		height: 450px;
		padding:5px;
		background: white;
		border: 1px solid gray;

		.stats-header {
			margin-bottom: 20px;
		}
	}

	.pic	{
	width: 150px;
	height: 150px;
	background: #000000;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 15px;

		.type {
		font-family: $font2;
		font-size: 18px;
		text-align: center;
		color: white;
		padding-top: 64px;
		}
	}
}

.chart {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;
  &::after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(0,0,0,.7);
      line-height: 0;
  }
}
.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
}
.chart path:hover { opacity: 0.65; }
